* { 
	max-width: 850px;
	margin: auto;
}
body{
  background-color: rgb(9,133,157); 

}
p {
  font: 14pt sans-serif;
  line-height: 1.5;
}

li {
  font: 14pt sans-serif;
  line-height: 1.5;
}
span{
  font-weight: bold;

}
a{
  color: blue;
}

.white {
  color: white;
}

#text_center{
  text-align: center
}

.text_footer {
  color: #ffffff;
  text-align: center;
  font: 10pt sans-serif;
  margin-top: 0px;
  margin-bottom: 20px;
}
.text_footer_2 {
  color: #ffffff;
  text-align: center;
  font: 12pt sans-serif;
  margin-top: 0px;
  margin-bottom: 20px;
}

.img_block_1{
  width: 300px;
  margin-bottom: 20px;
}

.img_block_2{
  width: 40px;

}

.fullwrap {
  width: 850px;
  min-height: 20px;
  background: #fff;
  margin-bottom: 30px;
}

.header {
  width: 780px;
  height: 140px;
  background: #fff;
  margin-top: 0px;
  margin: 18px;
  margin-top: 0px;
  float: left;
}

.text_1 { 
  color: black;
  width: 630px;
  height: 270px;
  background: #fff;
  margin-left: 100px;
  margin-right: 100px;
  float: left;
}

.text_2 {
  color: black;
  width: 630px;
  height: 125px;
  background: #fff;
  margin-left: 100px;
  margin-right: 100px;
  float: left;
}

.clear {
  clear: both;
}

.block_1 {
  color: black;
  width: 650px;
  height: 400px;
  background: #fff;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 15px;
  float: left;
}

.block_1_left {
  width: 300px;
  height: 470px;
  background: #fff;
  float: left;
}

.block_1_right {
  width: 300px;
  height: 470px;
  background: #fff;
  float: right;
}


.block_button_3{
  color: black;
  width: 670px;
  height: 70px;
  background: #fff;
  margin-left: 100px;
  margin-right: 100px;
  float: left;
}

.Button_1 {
  background-color: rgb(240,71,54);
  border-radius:10px;
  border:0px solid #cf5b4e;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:17px 92px;
  margin-top: 20px;
}

.Button_2 {
  background-color: rgb(240,71,54);
  border-radius:10px;
  border:0px solid #cf5b4e;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:17px 52px;
}

.Button_3 {
  background-color: rgb(240,71,54);
  border-radius:10px;
  border:0px solid #cf5b4e;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:17px 230px;
  
}

.footer {
  width: 780px;
  height: 230px;
  background: rgb(9,133,157);
  margin: 35px; 
  float: left;
}